.lev_a {
  background-color: red;
  width: 50%;
}
.lev_b {
  background-color: red;
  width: 50%;
}
.lev_c {
  background-color: red;
  width: 50%;
}
.lev_d {
  background-color: red;
  width: 50%;
}
.cell_1 {
  background-color: green;
  width: 50%;
}
.cell_2 {
  background-color: green;
  width: 50%;
}
.cell_3 {
  background-color: green;
  width: 50%;
}
.cell_4 {
  background-color: green;
  width: 50%;
}
